* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono';
}

body {
  background: linear-gradient(135deg, #3faaaa65, #3d3d8a94);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

main {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 15rem;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 139, 0.377);
  background-color: #ffffffd0;
}

.first__page h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1.5rem;
}

form input {
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  border-radius: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.588);
  box-shadow: 0 0 3px 4px rgba(223, 223, 223, 0.33);
  border: none;
  text-align: center;
}

.first__page button {
  padding: 0.5rem 1rem;
  background-color: hsla(128, 71%, 35%, 0.836);
  border-radius: 2rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.first__page button:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.318);
  background-color: hsla(128, 71%, 45%, 0.836);
}

.first__page button:active {
  background-color: hsl(231, 68%, 33%);
  transform: scale(1.09);
  transition: 0s;
}

.second__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  min-width: 15rem;
  min-height: 10rem;
  height: fit-content;
  box-shadow: 0 3px 10px rgba(0, 0, 139, 0.377);
  background-color: #060727d0;
  color: white;
  word-wrap: break-word; /* Add this line */
}

.second__page h2 {
  margin-bottom: 1.5rem;
  height: auto;
}

.second__page button {
  padding: 0.2rem 0.5rem;
  background-color: hsla(128, 77%, 86%, 0.72);
  border-radius: 2rem;
  border: none;
  color: rgb(136, 136, 136);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
  align-items: center;
  filter: opacity(50%);
  animation: pulse 2s ease-in-out 1.5s infinite;
}

.second__page button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.318);
  filter: opacity(100%);
  color: white;
  background-color: hsla(128, 77%, 46%, 0.72);
  animation: none;
}

.second__page button:hover .check {
  filter: opacity(100%);
  transition: 0.3s;
}

.second__page button:active {
  background-color: hsla(128, 77%, 26%, 0.72);
  box-shadow: inset 0 0 5px black;
  transform: scale(1.09);
}

.check {
  width: 2rem;
}

.second__page button p {
  margin-left: 0.2rem;
}

@keyframes pulse {
  0%,
  50% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.02);
    opacity: 0.99;
  }
}

footer {
  position: absolute;
  bottom: 3px;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  color: hsla(240, 100%, 50%, 0.585);
}

footer a:hover {
  color: white;
  font-weight: bold;
}

footer img {
  width: 0.6rem;
  height: auto;
  margin-left: 0.2rem;
  transform: translateY(0.1rem);
}

@media (min-width: 40rem) {
  .first__page {
    min-width: 38rem;
    min-height: 18rem;
  }

  .first__page h1 {
    font-size: 4rem;
    padding: 2rem;
  }

  .first__page input {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .first__page button {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .second__page {
    width: 30rem;
    min-height: 12rem;
    height: auto;
    overflow-wrap: anywhere;
  }

  .second__page h2 {
    font-size: 2rem;
    padding: 2rem;
    max-width: 100%;
  }

  .second__page button {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  footer {
    font-size: 1rem;
  }
}
